/* BREADCRUMBS */
.breadcrumbs {
  padding: 20px 100px;

  &__list {
    display: flex;
    gap: 16px;
  }

  &__item {
    @include font-title-h4-mob;
    color: $color-light;

    &:not(:last-child) {
      color: $color-orange;

      &::after {
        content: "/";
        padding-left: 14px;
      }
    }
  }

  @include _992 {
    padding: 20px 45px;
  }
}
