.link {
  color: $color-light;
  transition: all 0.5s ease;

  &:hover {
    color: $color-orange;
  }

  &--color-orange {
    color: $color-orange;

    &:hover {
      color: $color-light;
    }
  }

  &--active {
    @include min_768 {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: $gradient-link;
      }
    }
  }
}
