/* SOCIAL LINKS */
.social {
  display: flex;
  justify-content: center;
  gap: 107px;

  @include _992 {
    gap: 80px;
  }

  &__link:hover {
    .social__icon {
      fill: $color-orange;
    }
  }

  &__icon {
    width: 81px;
    height: 81px;
    fill: #fff;
    transition: all 0.5s ease;

    @include _992 {
      width: 61px;
      height: 61px;
    }
  }
}
