/* SOCIAL LINKS */
.social {
  display: flex;
  justify-content: center;
  gap: 107px;

  @include _992 {
    gap: 80px;
  }

  &__icon {
    width: 81px;
    height: 81px;
    background-color: $color-light;
    transition: all 0.5s ease;

    &:hover {
      background-color: $color-orange;
    }

    &--linkedin {
      @include mask("../assets/images/icons/linkedin.svg");
    }

    &--instagram {
      @include mask("../assets/images/icons/instagram.svg");
    }

    &--facebook {
      @include mask("../assets/images/icons/facebook.svg");
    }

    @include _992 {
      width: 61px;
      height: 61px;
    }
  }
}
