.video-box {
  border-radius: 40px;
  overflow: hidden;
  position: relative;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background-color: rgba(8, 1, 12, 0.77);
      transition: all 0.5s ease;

      &.is-hidden {
        cursor: pointer;
        opacity: 0;
      }

      &-btn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 76px;
        height: 87px;
        background-color: $color-light;
        @include mask("../assets/images/icons/play.svg");
        transition: all 0.5s ease;

        &:hover {
          background-color: $color-orange;
        }

        @include _768 {
          width: 38px;
          height: 44px;
        }
      }
    }

    &-title {
      max-width: 546px;
      position: absolute;
      z-index: 2;
      font-size: 53px;
      line-height: 76px;
      color: $color-light;
    }

    &-text {
      position: absolute;
      z-index: 2;
      @include font-title-h5;
      color: $color-light;
      transition: all 0.5s ease;

      &.is-hidden {
        translate: -150% 0;
      }
    }
  }
}
