/* ABOUT PAGE */
.about-page {
  position: relative;
  background: $gradient-about;

  @include _768 {
    background: $gradient-about-mobile;
  }

  .hero__background {
    @include min_768 {
      padding-top: var(--scroll-padding);
    }

    &-body {
      height: 100%;
      position: relative;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: -300%;
  }

  .short-blog {
    padding: 15px 0 150px 0;

    @include _768 {
      padding: 21px 0 99px 0;
    }

    &__btn-prev-box {
      &::after {
        background: none;
      }
    }
  }
}
