/* HOME PAGE */
.home {
  &__hero {
    padding: 185px 0px 35px 0px;

    .hero__title {
      margin-top: 0;
      //width: 67.5%;
      max-width: 952px;
      font-size: 72px;
      line-height: 76px;
      color: $color-light;

      @include _992 {
        width: 100%;
        @include font-title-h1-mob;
      }
    }

    @include _768 {
      padding: 104px 0px 43px 0px;
    }
  }

  .short-blog {
    padding: 98px 0px 90px 0px;

    @include _768 {
      padding: 51px 0 80px 0;
    }
  }
}
