/* SERVICES PAGE */
.services-page {
  background: $gradient-services;

  &-wrapper {
    overflow-x: initial;
  }

  .short-blog {
    padding: 0;
    margin-top: 77px;

    @include min_768 {
      display: none;
    }
  }

  @include _768 {
    background: $gradient-services-mobile;
  }
}
