@import "./contact-form";
@import "./hero";
@import "./skills";
@import "./short-about";
@import "./abilities";
@import "./short-portfolio";
@import "./idea";
@import "./reviews";
@import "./blog";
@import "./short-blog";
@import "./post";
@import "./work";
@import "./portfolio";
@import "./services";
@import "./about";
@import "./team-photo";
@import "./benefits";
@import "./dna";
