/* HOME ABILITIES */
.abilities {
  padding: 41px 0 18px 0;

  &__item {
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid $color-light;

    &:hover {
      .abilities__item-title {
        color: $color-orange;
      }

      .abilities__item-toggler-bar {
        background-color: $color-orange;
      }
    }

    &:not(:first-child) {
      margin-top: 21px;
    }

    &-title {
      margin-bottom: 26px;
      color: $color-light;
      transition: all 0.5s ease;

      @include _768 {
        font-size: 30px;
        line-height: 76px;
        margin-bottom: 0;
      }
    }

    &-toggler {
      position: absolute;
      top: 30px;
      right: 39px;
      width: 23px;
      height: 23px;

      &.is-active {
        .abilities__item-toggler-bar {
          &::after {
            opacity: 0;
          }
        }
      }

      &-bar {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        background-color: $color-light;
        transition: all 0.5s ease;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: inherit;
          transform: rotate(90deg);
          transition: opacity 0.5s ease;
        }

        @include _768 {
          height: 3px;
        }
      }

      @include _768 {
        width: 13px;
        height: 13px;
      }
    }

    &-text-box {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    &-text {
      max-width: 570px;
      cursor: initial;
      padding-bottom: 130px;
      color: $color-purple;
      opacity: 0;
      transition: opacity 0.5s ease;

      &.is-visible {
        opacity: 1;
      }

      @include _768 {
        padding-bottom: 80px;
        @include font-text-mob;
      }
    }
  }

  @include _768 {
    padding: 46px 0 18px 0;
  }
}
