/* ABOUT */
.about {
  &-description {
    padding: 69px 0 77px 0;

    &__text {
      max-width: 695px;
      margin: 0 auto;
      text-align: center;
      color: $color-light;

      @include _768 {
        @include font-text-mob;
      }
    }

    @include _768 {
      padding: 30px 0px 67px 0px;
    }
  }
}
