.blog {
  padding: 74px 0 52px 0px;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 104px;

    @include _768 {
      gap: 70px;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: -300%;

    color: $color-light;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 52px;
    margin: 0 -34px;

    @include _1200 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include _992 {
      margin: 0 -16px;
    }

    @include _768 {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    padding: 0px 34px;

    @include _992 {
      padding: 0 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 22px;

    &-photo {
      position: relative;
      padding-bottom: 87.5%;
      border-radius: 40px;
      overflow: hidden;

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*         object-fit: cover;
        object-position: center center; */
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      max-width: 303px;
      color: $color-purple;
      transition: all 0.5s ease;

      &:hover {
        color: $color-light;
      }
    }

    &-date {
      color: $color-orange;

      @include _768 {
        @include font-text-mob;
      }
    }
  }

  &__btn {
    align-self: center;
  }

  @include _768 {
    padding: 39px 0px 54px 0px;
  }
}
