/* ABOUT DNA */
.dna {
  padding: 77px 0;

  &__title {
    color: $color-orange;

    @include _768 {
      text-align: center;
      font-size: 30px;
      line-height: 39px;
    }
  }

  &__body {
    position: relative;
    margin: 0 -62px;

    @include _992 {
      margin: 0 -16px;
    }

    @include _768 {
      margin-top: 32px;
    }
  }

  &__background {
    position: relative;

    &-img {
      width: 100%;
    }
  }

  &__item {
    &-title {
      font-weight: 700;

      @include _1024 {
        @include font-title-h4-mob;
      }

      @include _768 {
        @include font-title-h5;
      }
    }

    &-text {
      margin-top: 5px;
      @include font-text-mob;

      @include _768 {
        margin-top: 10px;
        @include font-text-mob;
      }
    }

    @include min_768 {
      position: absolute;

      &--first {
        top: 36.1%;
        left: 6.13%;
        width: 13.43%;

        .dna__item-text {
          width: 81%;
        }

        @include _992 {
          top: 28%;
          left: 5%;
        }
      }

      &--second {
        width: 29.66%;
        bottom: 15.58%;
        left: 19.56%;

        .dna__item-title {
          width: 45.27%;
        }

        @include _1024 {
          width: 31%;
        }
      }

      &--third {
        width: 16.1%;
        top: 36.1%;
        right: 25.55%;

        @include _1200 {
          right: 29%;
          top: 34%;
        }

        .dna__item-text {
          width: 95.54%;
        }
      }

      &--fourth {
        color: $color-orange;
        width: 14.34%;
        bottom: 8%;
        right: 4.04%;

        @include _1024 {
          right: 5.5%;
          bottom: 3%;
        }
      }
    }

    @include _768 {
      margin-top: 74px;
      padding-left: 16px;
      width: 83.1%;
    }

    &--first {
      @include _768 {
        margin-top: -11px;
      }
    }
  }

  &__work-way {
    margin-top: 60px;
    max-width: 629px;
    position: relative;
    color: $color-blue;

    &-title {
      @include _768 {
        font-size: 30px;
        line-height: 39px;
      }
    }

    &-text {
      margin-top: 10px;

      @include _768 {
        @include font-text-mob;
      }
    }

    @include _992 {
      width: 65.45%;
    }

    @include min_768 {
      //width: 49.1%;
      margin-top: -7.81%;
    }

    @include _768 {
      width: 100%;
    }
  }

  @include _768 {
    padding: 14px 0;
  }
}
