.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  height: 100svh;
  display: flex;

  &--animated {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-height: 100svh;
    aspect-ratio: 4/2.81;
    overflow: hidden;
  }

  &__title {
    margin-top: auto;

    @include _768 {
      margin-top: 109px;
    }

    &-img {
      @include _768 {
        width: 50%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center center;
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _768 {
      height: 100%;
      flex-direction: column;
    }
  }

  &__link {
    display: block;
    max-width: 257px;
    word-wrap: break-word;
    @include font-title-h4;
    color: $color-light;
    transition: all 0.5s ease;

    &:hover {
      color: $color-orange;
    }

    @include _992 {
      max-width: 226px;
      @include font-title-h2-mob;
    }

    @include _768 {
      margin-top: 10px;
      align-self: flex-start;
    }
  }

  &__btn {
    @include _768 {
      margin-top: auto;
    }
  }
}
