/* HOME IDEA */
.idea {
  padding: 21px 0 45px 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title-img {
    width: 100%;
  }

  &__text {
    margin-top: 12px;
    max-width: 577px;

    @include _992 {
      @include font-text-mob;
    }
  }

  &__btn {
    align-self: flex-end;

    @include _768 {
      margin-top: 75px;
      align-self: center;
    }
  }

  @include _768 {
    padding: 83px 0 45px 0;
  }
}
