/* PORTFOLIO */
.portfolio {
  &__container {
    position: relative;
    padding-inline: 0;
  }

  &__title {
    position: absolute;
    top: 0;
    left: -300%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }

  &__video-box {
    //height: 100vh;
    //height: 100svh;
    padding-bottom: 49.96%;
    border-radius: 0px;

    @include _768 {
      height: 666px;
    }

    .video-box__video-title {
      max-width: 546px;
      top: 14.75%;
      left: 62px;

      @include _1200 {
        top: 6.3%;
        left: 16px;
      }

      @include _992 {
        font-size: 30px;
        line-height: 39px;
      }
    }

    .video-box__video-overlay-btn {
      width: 76px;
      height: 87px;
    }

    .video-box__video-text {
      //width: 60.88%;
      max-width: 934px;
      bottom: 9.92%;
      left: 62px;

      @include _992 {
        @include font-text-mob;
      }

      @include _1200 {
        left: 16px;
        bottom: 3.15%;
        width: calc(100% - 16px);
      }
    }
  }

  &__btn {
    margin-top: 55px;
    align-self: center;
  }
}
