/* HOME REVIEWS */
.reviews {
  padding: 80px 0 23px 0;

  &__container {
    @include min_992 {
      padding-left: 35px;
    }
  }

  &__body {
    position: relative;
  }

  &__title-img {
    width: 100%;
  }

  &__slider {
    position: relative;
    margin-top: -57px;

    @include _1200 {
      margin-top: -40px;
    }

    @include min_992 {
      position: absolute;
      top: 0;
      right: 0;
      width: 61.65%;
      height: 58.65%;
    }

    @include _992 {
      margin: 35px -16px 0px;
    }

    &-body,
    .slick-list,
    .slick-track {
      height: 100%;
    }
  }

  &__item {
    position: relative;
    margin: 0 11.5px;
    display: flex;
    gap: 21px;
    border-radius: 35px;
    background-color: rgba($color-purple, 0.23);
  }

  &__btn-prev,
  &__btn-next {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 40px;
    background-color: $color-dark;
    top: 50%;
    translate: 0 -50%;
    z-index: 3;
    @include mask("../assets/images/arrow.svg");
    transition: all 0.5s ease;

    &.slick-disabled {
      opacity: 0.5;
    }

    @include _992 {
      display: none;
    }
  }

  &__btn-prev {
    transform: rotate(180deg);
    left: 3.4%;
  }

  &__btn-next {
    right: 3.4%;
  }

  &__author {
    width: 98px;
    height: 98px;

    &-img {
      object-fit: cover;
      object-position: center center;
    }

    @include min_992 {
      position: absolute;
      top: 0;
      left: -21px;
      translate: -100% 0;
    }

    @include _768 {
      width: 61px;
      height: 61px;
    }
  }

  &__content {
    padding: 57px 63px 46px 193px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    &-header {
      position: relative;
      display: flex;

      &-text {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include _992 {
          flex: 0 1 auto;
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      @include _992 {
        gap: 12px;
      }
    }

    @include _1366 {
      padding: 40px 62px 40px 194px;
    }

    @include _992 {
      padding: 22px 27px 24px 28px;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__title {
    @include _768 {
      @include font-title-h4-mob;
    }
  }

  &__date {
    color: $color-purple;

    @include _768 {
      @include font-text-mob;
    }
  }

  &__text {
    @include min_992 {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include _1534 {
      -webkit-line-clamp: 4;
    }

    @include _1200 {
      -webkit-line-clamp: 3;
    }

    @include _768 {
      @include font-text-mob;
    }
  }

  @include _768 {
    padding: 29px 0px;
  }
}
