.reviews {
  padding: 83px 0 23px 0;

  &__container {
    @include min_992 {
      padding-left: 35px;
    }
  }

  &__body {
    position: relative;
  }

  &__title-img {
    width: 100%;
  }

  &__slider {
    margin-top: 34px;

    @include min_992 {
      margin-top: -60px;
      position: absolute;
      top: 0;
      right: 0;
      width: 61.65%;
      height: 58.5%;
    }

    @include _992 {
      margin: 34px -16px 0;
    }
  }

  &__item {
    padding: 55px 62px 55px 75px;
    display: flex;
    gap: 21px;
    border-radius: 35px;
    background-color: rgba($color-purple, 0.23);

    @include _1366 {
      padding: 40px 62px 40px 75px;
    }

    @include _992 {
      padding: 22px 27px 24px 28px;
    }
  }

  &__image {
    width: 98px;
    height: 98px;

    @include min_992 {
      position: absolute;
      top: 0;
      left: -21px;
      translate: -100% 0;
    }

    @include _768 {
      width: 61px;
      height: 61px;
    }
  }

  &__content {
    padding-left: 119px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    &-header {
      position: relative;
      display: flex;

      &-text {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include _992 {
          flex: 0 1 auto;
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      @include _992 {
        gap: 12px;
      }
    }

    @include _992 {
      padding: 0;
      flex-direction: column-reverse;
      gap: 22px;
    }
  }

  &__author {
    @include _768 {
      @include font-title-h4-mob;
    }
  }

  &__date {
    color: $color-purple;

    @include _768 {
      @include font-text-mob;
    }
  }

  &__text {
    @include min_992 {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include _1534 {
      -webkit-line-clamp: 4;
    }

    @include _1200 {
      -webkit-line-clamp: 2;
    }

    @include _768 {
      @include font-text-mob;
    }
  }

  &__btn-next,
  &__btn-prev {
    top: 40%;
    color: $color-dark;

    &::after {
      font-size: 56px;
    }

    @include _1200 {
      top: 50%;
    }
  }

  @include _992 {
    padding: 33px 0px;
  }
}
