/* SERVICES */
.services {
  padding: 58px 0 94px 0;

  &__body {
    position: relative;
    display: flex;
    //justify-content: space-between;
    gap: 34px;

    @include _992 {
      gap: 20px;
    }

    @include _768 {
      flex-direction: column-reverse;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: -3000%;
  }

  &__content {
    flex: 0 1 74.96%;
  }

  &__article {
    color: $color-light;

    /*     &:not(:first-child) {
      margin-top: 64px;
    } */

    &--theme-dark {
      color: $color-dark;
    }

    &--graphic {
      @include _768 {
        margin-top: 125px;
      }
    }

    &--postproduction {
      margin-top: 125px;

      @include _768 {
        margin-top: 66px;
      }
    }

    &--vr {
      margin-top: 133px;

      @include _768 {
        margin-top: 66px;
      }
    }

    &--videoproduction {
      margin-top: 158px;

      @include _768 {
        margin-top: 100px;
      }
    }

    &--photography {
      margin-top: 64px;

      @include _768 {
        margin-top: 66px;
      }
    }

    &--davinci {
      margin-top: 64px;

      @include _768 {
        margin-top: 66px;
      }
    }

    &--3d {
      margin-top: 64px;

      @include _768 {
        margin-top: 66px;
      }
    }

    &-title {
      font-size: 53px;
      line-height: 76px;

      @include _768 {
        text-align: center;
        font-size: 30px;
        line-height: 39px;
      }
    }

    &-media {
      margin-top: 31px;
      display: flex;
      justify-content: space-between;

      &-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*         border-radius: 40px;
        overflow: hidden; */

        &--large {
          flex: 0 1 65.47%;
        }

        &--small {
          flex: 0 1 32.36%;

          @include _768 {
            flex: 0 1 100%;
            justify-content: stretch;
            flex-direction: row;
            gap: 5px;

            .services__article-photo {
              flex: 0 1 100%;
              padding-bottom: 46.2%;
            }
          }
        }

        &--single {
          flex: 0 1 100%;

          .services__article-photo {
            padding-bottom: 45.4%;
            width: 100%;

            @include _768 {
              padding-bottom: 76.65%;
            }
          }
        }
      }

      @include _768 {
        margin-top: 17px;
        flex-direction: column;
        gap: 9px;
      }
    }

    &-photo {
      position: relative;
      border-radius: 40px;
      overflow: hidden;

      &--big {
        padding-bottom: 69.35%;
        height: 100%;

        @include _768 {
          padding-bottom: 76.65%;
        }
      }

      &--medium {
        padding-bottom: 74.25%;
      }

      &--small {
        padding-bottom: 57%;
      }

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-text {
      margin-top: 20px;
      width: 65.47%;

      @include _768 {
        margin-top: 27px;
        width: 100%;
        @include font-text-mob;
      }
    }
  }

  &__video-box {
    padding-bottom: 45.4%;
    margin-left: -105px;

    @include _768 {
      margin: 0 -16px;
      padding-bottom: 76.65%;
      border-radius: 0px;
    }
  }

  &__idea {
    margin-top: 104px;

    &-title {
      color: $color-light;

      @include _768 {
        font-size: 30px;
        line-height: 39px;
      }
    }

    &-btn {
      margin-top: 38px;
    }

    @include _768 {
      text-align: center;
      margin-top: 66px;
    }
  }

  &__side-bar {
    //flex: 0 1 22.62%;
    position: relative;
    width: 315px;
    margin: 0 auto;

    &-list {
      position: relative;
      display: flex;
      flex-direction: column;

      @include min_768 {
        position: sticky;
        top: 107px;
      }
    }

    &-item {
      text-align: center;
      padding: 16px 0px 14px 0px;

      &.is-active {
        .services__side-bar-link {
          color: $color-dark;
        }
      }
    }

    &-link {
      position: relative;
      z-index: 1;
      @include font-title-h5;
      font-weight: 600;
      color: $color-purple;
      transition: all 0.5s ease;
    }

    &-item-switcher {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 58px;
      z-index: 0;
      background-color: #f27c00;
      border: 1px solid #f27c00;
      border-radius: 45px;
      transition: all 0.5s ease;
    }

    @include min_768 {
      flex: 0 1 315px;
      padding-top: 107px;
    }
  }

  &__footer {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      @include _768 {
        font-size: 30px;
        line-height: 39px;
      }
    }

    &-btn {
      @include _768 {
        margin-top: 36px;
      }
    }

    @include _768 {
      text-align: center;
      flex-direction: column;
      justify-content: stretch;
      margin-top: 57px;
    }
  }

  &__short-blog {
    @include min_768 {
      display: none;
    }
  }

  @include _768 {
    padding: 106px 0 99px 0;
  }
}
