.short-blog {
  padding: 98px 0px 98px 0px;

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 72px;
    line-height: 76px;
    color: $color-orange;

    @include _768 {
      font-size: 30px;
      line-height: 39px;
    }
  }

  &__text {
    margin-top: 10px;
    max-width: 622px;
    @include font-title-h4;
    color: $color-purple;

    @include _992 {
      max-width: 70%;
    }

    @include _768 {
      max-width: 70%;
      @include font-title-h4-mob;
    }
  }

  &__content {
    margin: 31px -16px 0px -16px;

    @include min_768 {
      display: flex;
      justify-content: space-between;
      margin: 20px 0px 0px 0px;
    }
  }

  &__items {
    width: 40.92%;

    &-body {
      .slick-track {
        display: flex;

        @include min_768 {
          display: block;
          margin: -10px 0px 0px 0px;
        }
      }

      .short-blog__item {
        display: flex;
        gap: 19px;

        @include _768 {
          &:not(:last-child) {
            margin-right: 23px;
          }
        }

        @include min_768 {
          margin: 10px 0px 0px 0px;
        }
      }

      .blog__item-photo {
        @include min_768 {
          padding-bottom: 64.75%;
        }
      }
    }

    @include _768 {
      width: 100%;
    }
  }

  &__item {
    &--latest {
      width: 49.36%;

      @include _768 {
        display: none;
      }
    }

    &-title {
      max-width: 365px;

      @include _768 {
        max-width: 200px;
        @include font-title-h4-mob;
      }
    }
  }

  &__btn {
    margin-top: 18px;
    align-self: center;

    @include min_768 {
      margin-top: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
