.short-portfolio {
  padding-top: 51px;

  &__body {
    position: relative;
  }

  &__header {
    position: absolute;
    width: 93.8%;
    top: 5.8%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-size: 132px;
    font-weight: 700;
    line-height: 118px;
    text-transform: uppercase;
    color: $color-orange;
    @include responsive-value("font-size", 132, 36);
    @include responsive-value("line-height", 118, 48.49); //157.5 34
  }

  &__btn {
  }

  &__items {
    margin: 0 -62px;

    @include _992 {
      margin: 0 -16px;
    }
  }

  &__item {
    &-video-box {
      padding-bottom: 49.4%;
    }

    &-video {
      &-text {
        max-width: 719px;
        bottom: 7.52%;
        left: 5.8%;
        @include font-title-h4;
      }
    }
  }
}
