.short-blog {
  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 72px;
    line-height: 76px;
    color: $color-orange;

    @include _768 {
      font-size: 30px;
      line-height: 39px;
    }
  }

  &__text {
    margin-top: 10px;
    max-width: 622px;
    @include font-title-h4;
    color: $color-purple;

    @include _992 {
      max-width: 70%;
    }

    @include _768 {
      max-width: 70%;
      @include font-title-h4-mob;
    }
  }

  &__content {
    margin: 31px -16px 0px -16px;

    @include min_768 {
      display: flex;
      justify-content: space-between;
      margin: 20px 0px 0px 0px;
    }
  }

  &__items {
    position: relative;
    width: 40.92%;

    &-body {
      .slick-track {
        display: flex;

        @include min_768 {
          display: block;
          margin: -10px 0px 0px 0px;
        }
      }

      .short-blog__item {
        display: flex;
        gap: 19px;

        @include _768 {
          margin: 0 11.5px;
        }

        @include min_768 {
          margin: 10px 0px 0px 0px;
        }
      }

      .blog__item-photo {
        @include min_768 {
          padding-bottom: 64.75%;
        }
      }
    }

    @include _768 {
      width: 100%;
    }
  }

  &__item {
    &--latest {
      width: 49.36%;

      @include _768 {
        display: none;
      }
    }

    &-title {
      max-width: 365px;

      @include _768 {
        max-width: 200px;
        @include font-title-h4-mob;
      }
    }
  }

  &__btn-prev-box,
  &__btn-next-box {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-hidden {
      &::after {
        opacity: 0;
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 31.6%,
        #ffffff 73.76%
      );
    }

    @include _768 {
      display: none;
    }
  }

  &__btn-prev-box {
    rotate: 180deg;
    top: 0;

    &.is-hidden {
      opacity: 0;
      transform: translateY(-100%);
    }

    &-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__btn-next-box {
    bottom: -2px;

    &.is-hidden {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &__btn-prev,
  &__btn-next {
    position: relative;
    z-index: 3;
    cursor: pointer;
    width: 31px;
    height: 58px;
    background-color: $color-purple;
    @include mask("../assets/images/arrow.svg");
    transition: all 0.5s ease;

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  &__btn-prev {
    top: 70px;
    left: 50%;
    transform-origin: left;
    transform: translateX(-50%) rotate(90deg);
  }

  &__btn-next {
    rotate: 90deg;
  }

  &__btn {
    margin-top: 18px;
    align-self: center;

    @include min_768 {
      margin-top: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @include _768 {
    padding: 51px 0 80px 0;
  }
}
