/* HOME SHORT PORTFOLIO */
.short-portfolio {
  padding: 49px 0 21px 0;

  @include _768 {
    padding: 67px 0 21px 0;
  }

  &__body {
    position: relative;

    @include _768 {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 132px;
    font-weight: 700;
    line-height: 118px;
    text-transform: uppercase;
    color: $color-orange;
    @include responsive-value("font-size", 132, 36);
    @include responsive-value("line-height", 118, 48.49);
    transition: all 0.5s ease;

    @include min_768 {
      position: absolute;
      top: 5.8%;
      left: 0;
      z-index: 1;
    }

    &.is-hidden {
      translate: -150% 0;
    }
  }

  &__btn {
    @include min_768 {
      position: absolute;
      top: 16.89%;
      right: 8.79%;
      z-index: 1;
    }

    @include _1200 {
      top: 14.44%;
      right: 4.39%;
    }

    @include _768 {
      margin-top: 39px;
      top: 0;
      right: 0;
      align-self: center;
    }
  }

  &__btn-prev,
  &__btn-next {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 40px;
    background-color: $color-light;
    top: 50%;
    translate: 0 -50%;
    z-index: 3;
    @include mask("../assets/images/arrow.svg");
    transition: all 0.5s ease;

    @include _768 {
      display: none;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  &__btn-prev {
    transform: rotate(180deg);
    left: 0;
  }

  &__btn-next {
    right: 0;
  }

  &__items {
    border-radius: 40px;
    margin: 0 -62px;

    @include _992 {
      margin: 0 -16px;
    }

    @include _768 {
      margin: 27px -16px 0px -16px;
    }
  }

  &__item {
    padding: 0 18.5px;

    @include _992 {
      padding: 0 11.5px;
    }

    &-video-box {
      padding-bottom: 50.6%;

      @include _768 {
        padding-bottom: 163%;
      }
    }

    &-video {
      &-text {
        max-width: 719px;
        bottom: 7.52%;
        left: 5.8%;
        @include font-title-h4;

        @include _1200 {
          right: 5.8%;
          @include font-title-h4-mob;
        }
      }
    }
  }
}
