/* HOME SKILLS */
.skills {
  padding: 79px 0;

  @include _768 {
    padding: 35px 0;
  }

  &__title-img {
    margin: 0 auto;
  }

  &__items {
    margin-top: 102px;

    @include _768 {
      margin-top: 51px;
    }
  }
}
