/* ABOUT TEAM PHOTO */
.team-photo {
  position: relative;
  padding-bottom: 31.5%;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-orange, 0.3);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  @include _768 {
    padding-bottom: 128.8%;
  }
}
