.work {
  padding-bottom: 92.5px;

  &__title {
    font-size: 72px;
    line-height: 76px;
    color: $color-light;

    @include _768 {
      font-size: 30px;
      line-height: 39px;
    }
  }

  &__video-box {
    height: 100vh;
    height: 100svh;
    border-radius: 0px;
    margin: 42px -62px 0;

    @include _992 {
      margin: 51px -16px 0;
    }

    &-video-overlay {
      background-color: unset;
    }
  }

  &__description {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: $color-light;

    &-item {
      flex: 0 1 50%;
    }

    &-title {
      @include _768 {
        @include font-title-h4-mob;
      }
    }

    &-text {
      max-width: 613px;
      margin-top: 21px;

      @include _768 {
        margin-top: 5px;
        max-width: 100%;
        @include font-text-mob;
      }
    }

    @include _768 {
      margin-top: 32px;
      flex-direction: column;
      justify-content: stretch;
      gap: 49px;
    }
  }

  &__other {
    margin-top: 178px;

    &-title {
      color: $color-light;

      @include _768 {
        font-size: 30px;
        line-height: 39px;
      }
    }

    &-btn {
      @include _768 {
        display: none;
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-item {
      position: relative;
      padding: 0 49px;

      @include min_768 {
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.1);

          .work__other-link-container {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &-photo {
        &-img {
          width: 100%;
        }
      }

      &-title {
        margin-top: 11.5px;
        @include font-title-h4-mob;
        color: $color-purple;
        transition: all 0.5s ease;

        &:hover {
          color: $color-orange;
        }

        @include min_768 {
          margin-top: 0;
          position: absolute;
          bottom: 6.95%;
          left: 12.5%;
          @include font-title-h4;
          color: $color-light;
        }
      }

      @include _992 {
        padding: 0 32px;
      }

      @include _768 {
        padding: 0 11px;
      }
    }

    &-link {
      display: block;

      &-container {
        position: relative;
        border-radius: 40px;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          height: 2.5%;
          width: 76.38%;
          background-color: $color-orange;
          transition: all 0.3s ease;

          @include min_768 {
            opacity: 0;
          }
        }
      }
    }

    @include _768 {
      margin-top: 69px;
    }
  }

  &__slider {
    margin: 71.5px -49px 0;

    @include min_768 {
      .slick-list {
        padding: 25px 0;
        margin: -25px 0;
      }
    }

    @include _992 {
      margin: 71.5px -16px 0px;
    }

    @include _768 {
      margin-top: 10px;
    }
  }

  @include _768 {
    padding-bottom: 55px;
  }
}
