/* FONTS */
@font-face {
  font-family: "Rock Star";
  font-display: swap;
  src: url(../fonts/RockStar-Medium.woff2) format("woff2"),
    url(../fonts/RockStar-Medium.woff) format("woff"),
    url(../fonts/RockStar-Medium.ttf) format("ttf"),
    url(../fonts/RockStar-Black.eot) format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rock Star";
  font-display: swap;
  src: url(../fonts/RockStar-SemiBold.woff2) format("woff2"),
    url(../fonts/RockStar-SemiBold.woff) format("woff"),
    url(../fonts/RockStar-SemiBold.ttf) format("ttf"),
    url(../fonts/RockStar-SemiBold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rock Star";
  font-display: swap;
  src: url(../fonts/RockStar-Black.woff2) format("woff2"),
    url(../fonts/RockStar-Black.woff) format("woff"),
    url(../fonts/RockStar-Black.ttf) format("ttf"),
    url(../fonts/RockStar-Black.eot) format("eot");
  font-weight: 700;
  font-style: normal;
}
