$color-light: #fff;
$color-dark: #180325;
$color-orange: #f27c00;
$color-purple: #9a76af;
$color-pink: #d4157a;
$color-blue: #00005e;
$gradient-small: linear-gradient(180deg, #f27c00 0%, #d31080 100%);
$gradient-big: linear-gradient(180deg, #f27c00 0%, #d31080 100%);

