$color-light: #fff;
$color-dark: #180325;
$color-orange: #f27c00;
$color-purple: #9a76af;
$color-pink: #d4157a;
$color-blue: #00005e;
$gradient-link: linear-gradient(90deg, #9f0f29 0%, #d7b400 99.48%);
$gradient-btn: linear-gradient(180deg, #f27c00 0%, #d31080 100%);
$gradient-index: linear-gradient(
  180deg,
  #000000 22.4%,
  #00005e 42.19%,
  #f23a00 55.54%,
  #f27c00 64.45%,
  #ffffff 71.54%
);
$gradient-index-mobile: linear-gradient(
  180deg,
  #000000 23.97%,
  #00005e 36.19%,
  #d7340b 48.83%,
  #f27c00 55.69%,
  #ffffff 62.17%
);
$gradient-about: linear-gradient(
  180deg,
  #000000 20.41%,
  #000063 30.71%,
  #d7340b 47.65%,
  #f23a00 55.74%,
  #f27c00 59.21%,
  #ffffff 85.3%
);
$gradient-about-mobile: linear-gradient(
  180deg,
  #000000 25.16%,
  #00005e 31.56%,
  #f23a00 49.97%,
  #f27c00 77.17%,
  #ffffff 88.04%
);
$gradient-services: linear-gradient(
  180deg,
  #000000 43.34%,
  #000063 51.3%,
  #d7340b 55.02%,
  #f23a00 56.99%,
  #f27c00 61.22%,
  #ffffff 89.68%
);
$gradient-services-mobile: linear-gradient(
  180deg,
  #000000 26.16%,
  #00005e 34.56%,
  #f23a00 46.97%,
  #f27c00 61.17%,
  #ffffff 74.04%
);
