/* FOOTER */
.footer {
  position: relative;
  background-color: #000;
  border-radius: 45px 45px 0px 0px;

  &__body {
    padding: 35px 0px 38px 0px;
    display: flex;
    flex-direction: column;
  }

  &__top {
    padding-bottom: 21px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 48px;
    border-bottom: 3px solid $color-light;

    &-link {
      @include font-title-h4;

      @include _992 {
        @include font-title-h4-mob;
      }
    }

    @include _768 {
      padding-inline: 16px;
      padding-bottom: 42px;
      justify-content: space-between;
    }
  }

  &__middle {
    padding-top: 44px;
  }

  &__title {
    /*     @include responsive-value("margin-bottom", 122, 39);
    @include responsive-value("font-size", 171, 40.79);
    @include responsive-value("line-height", 171, 40.79); //157.5 34 
    font-weight: 700;
    color: $color-orange;
    text-transform: uppercase; */
    @include responsive-value("margin-bottom", 122, 39);

    &-img {
      width: 100%;
    }
  }

  &__middle-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include _768 {
      flex-direction: column;
      align-items: center;
      gap: 67px;
    }
  }

  &__contact-form {
    flex: 1 1 auto;

    @include min_768 {
      width: 50%;
    }
  }

  &__contacts {
    width: fit-content;
  }

  &__contact-links {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include _768 {
      align-items: center;
    }
  }

  &__contact-link {
    @include font-title-h4;

    @include _992 {
      @include font-title-h4-mob;
    }
  }

  &__bottom {
    margin-top: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    &-link {
      font-size: 16px;
      line-height: 21px;
      color: $color-orange;
      transition: all 0.5s ease;

      &:hover {
        color: $color-purple;
      }

      @include _992 {
        font-size: 12px;
        line-height: 16px;
      }
    }

    @include _768 {
      margin-top: 49px;
      flex-direction: column;
      align-items: center;
    }
  }
}
