/* HEADER MENU */
.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    font-family: "Rock Star";
    display: flex;
    gap: 55px;
    transition: all 0.5s ease;

    @include _992 {
      gap: 30px;
    }

    @include _768 {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }

  &__link {
    @include _768 {
      font-size: 30px;
      line-height: 39px;
    }
  }

  @include _768 {
    padding: 100px 0px 58px 0px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #000;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 25px;
    overflow: auto;
    transition: all 0.5s ease;

    & > * {
      opacity: 0;
    }
  }

  &.is-opened {
    top: 0;

    & > * {
      opacity: 1;
    }
  }

  &__social {
    margin-top: auto;
    gap: 55px;
    transition: all 0.5s ease;

    @include min_768 {
      display: none;
    }

    .social__icon {
      width: 42px;
      height: 42px;
    }
  }
}
